
# dependencies
/.vs

/App_Chat/bin
/App_Chat/obj

/ClassLibrary/bin
/ClassLibrary/obj

/DTO/obj
/DTO/bin

/Models/obj
/Models/bin
/Models/efpt.config.json


/Server/Server/bin
Server/Server/obj

/Service/obj
/Service/bin

