
# dependencies
/.vs

/App_Chat/bin
/App_Chat/obj

/ClassLibrary/bin
/ClassLibrary/obj

/DTO/obj
/DTO/bin
/DTO/DTO.csproj

/Models/obj
/Models/bin
/Models/efpt.config.json
/Models/Models.csproj

/Server/Server/bin
Server/Server/obj

/Service/obj
/Service/bin
/Service/Service.csproj

Project_App_Chat.sln